/*=========================
	FONT COLOR
=========================*/
.theme-light .product-carousel .owl-nav .owl-prev::before,
.theme-light .product-carousel .owl-nav .owl-next::before,
.theme-light .product-caro .owl-prev:hover:before,
.theme-light .product-caro .owl-next:hover:before,
.theme-light .log-reg-area form .forgot-pwd,
.theme-light .log-reg-area form .already-have,
.theme-light .log-reg-area > p a,
.theme-light .top-area > ul > li > a > span,
.theme-light .timeline-info > ul li a.active,
.theme-light .timeline-info > ul li a:hover,
.theme-light .dropdowns > a.more-mesg,
.theme-light .activity-meta > h6 a,
.theme-light .activity-meta > span a:hover,
.theme-light .friend-name > ins,
.theme-light .description > p a,
.theme-light .we-reply,
.theme-light .sidebar .widget li:hover > a, .sidebar .widget li:hover > i,
.theme-light .friend-meta > a,
.theme-light .user-setting > a:hover,
.theme-light .we-comet li a.showmore,
.theme-light .twiter-feed > li p a,
.theme-light .tutor-links > li i,
.theme-light .tutor-links > li:hover,
.theme-light .pepl-info > span,
.theme-light .page-meta > a,
.theme-light .frnds .nav-tabs .nav-item a.active,
.theme-light .f-title i,
.theme-light #work > div a,
.theme-light .basics > li i,
.theme-light .education > li i,
.theme-light .groups > span i,
.theme-light a.forgot-pwd,
.theme-light .friend-meta > h4 a:hover,
.theme-light .x_title > h2,
.theme-light .post-meta .detail > span,
.theme-light .add-btn > a:hover,
.theme-light .top-area > ul.main-menu > li > ul li a:hover,
.theme-light .dropdowns.active > a i,
.theme-light .user-setting > a i,
.theme-light .form-group input.form-file ~ .control-label,
.theme-light .form-group input.has-value ~ .control-label,
.theme-light .form-group input:focus ~ .control-label,
.theme-light .form-group input:valid ~ .control-label,
.theme-light .form-group select ~ .control-label,
.theme-light .form-group textarea.form-file ~ .control-label,
.theme-light .form-group textarea.has-value ~ .control-label,
.theme-light .form-group textarea:focus ~ .control-label,
.theme-light .form-group textarea:valid ~ .control-label,
.theme-light .flaged > h3,
.theme-light .invition .friend-meta a.invite:hover,
.theme-light .more-optns > ul li:hover,
.theme-light .post-title > h4 a:hover,
.theme-light .post-title .p-date a:hover,
.theme-light .l-post .l-post-meta > h4 a:hover,
.theme-light .read,
.theme-light .read:hover,
.theme-light blockquote,
.theme-light .tags > a:hover,
.theme-light .comment-titles > span,
.theme-light .help-list > ul li a:hover i,
.theme-light .carrer-title > h2 > span,
.theme-light .carrer-title > span a,
.theme-light .open-position > h4 a:hover,
.theme-light .option-set.icon-style > li > a.selected,
.theme-light .category-box > i,
.theme-light .getquot-baner > a,
.theme-light .branches-box > ul li i,
.theme-light .help-topic-result > h2 a:hover,
.theme-light .product-name > h5 a:hover,
.theme-light .full-postmeta .shopnow,
.theme-light .prices.style2 ins span,
.theme-light .single-btn > li > a.active,
.theme-light .total-box > ul > li.final-total,
.theme-light .logout-meta > p a,
.theme-light .forum-list table tbody tr td i,
.theme-light .forum-list table tbody tr td a,
.theme-light .widget ul.recent-topics > li > i,
.theme-light .date-n-reply > a,
.theme-light .topic-data > span,
.theme-light .help-list > ul li a:hover,
.theme-light .employer-info h2,
.theme-light .job-detail > ul li i,
.theme-light .company-intro > a
{
	color: #5451d7;
}
svg{
stroke: #fff;
}
path.icon{
	fill: #fff;
}
.text-purple{
	color : #5451d7;
}


/*=========================
	BACKGROUND COLOR
=========================*/
.theme-light #nprogress .bar,
.theme-light .timeline-info > ul li a::before,
.theme-light .add-btn > a,
.theme-light .activitiez > li::before,
.theme-light form button,
.theme-light .colla-apps > li a:hover,
.theme-light a.underline:before,
.theme-light .setting-row input:checked + label,
.theme-light .user-avatar:hover .edit-phto,
.theme-light .error-meta > a,
.theme-light .color-bg,
.theme-light .add-butn,
.theme-light .nav.nav-tabs.likes-btn > li a.active,
.theme-light a.dislike-btn,
.theme-light .drop > a:hover,
.theme-light .btn-view.btn-load-more:hover,
.theme-light .accordion .card h5 button[aria-expanded="true"],
.theme-light .chat-head,
.theme-light .f-page > figure em,
.theme-light .inbox-panel-head > ul > li > a,
.theme-light .nav-tabs--left .nav-link.active,
.theme-light .nav-tabs--left .nav-link.active:hover,
.theme-light footer .widget-title h4::before,
.theme-light #topcontrol,
.theme-light .sidebar .widget-title::before,
.theme-light .f-title::before,
.theme-light .g-post-classic > figure > i::after,
.theme-light .purify > a,
.theme-light .help-list > a:hover,
.theme-light .open-position::before,
.theme-light .info > a,
.theme-light .category-box:hover, .category-box.selected,
.theme-light a.main-btn,
.theme-light .section-heading::before,
.theme-light .getquot-baner,
.theme-light .more-branches > h4::before,
.theme-light .is-helpful > a,
.theme-light .cart-optionz > li > a:hover,
.theme-light .paginationz > li a:hover,
.theme-light .paginationz > li a.active,
.theme-light .shopping-cart,
.theme-light a.btn2:hover,
.theme-light .form-submit > input[type="submit"],
.theme-light button.submit-checkout,
.theme-light .delete-cart:hover,
.theme-light .proceed .button,
.theme-light .amount-area .update-cart,
.theme-light a.addnewforum,
.theme-light .apply-bttons > a
{
	background: #5451d7;
}

.theme-light .stroke-solid {
	fill: #5451d7;
}


/*=========================
	BORDER COLOR
=========================*/
.theme-light .topbar .form-search input:focus,
.theme-light .add-btn > a:hover,
.theme-light .edit-phto:hover,
.theme-light .colla-apps > li a:hover,
.theme-light .user-avatar:hover .edit-phto,
.theme-light .top-area > ul.main-menu > li ul,
.theme-light .g-post-classic:hover > figure > i,
.theme-light .help-list > a:hover,
.theme-light a.btn2:hover,
.theme-light .single-btn > li > a.active
{
	border-color: #5451d7;
}

.theme-light #nprogress .spinner-icon{
	border-left-color: #5451d7;
}
.theme-light #nprogress .spinner-icon
{
	border-top-color: #5451d7;
}
.theme-light .timeline-info > ul li a:after{
	border-bottom-color: #5451d7;
}

/*=========================
	DARK THEME

	FONT COLOR
=========================*/
.theme-dark .product-carousel .owl-nav .owl-prev::before,
.theme-dark .product-carousel .owl-nav .owl-next::before,
.theme-dark .product-caro .owl-prev:hover:before,
.theme-dark .product-caro .owl-next:hover:before,
.theme-dark .log-reg-area form .forgot-pwd,
.theme-dark .log-reg-area form .already-have,
.theme-dark .log-reg-area > p a,
.theme-dark .top-area > ul > li > a > span,
.theme-dark .timeline-info > ul li a.active,
.theme-dark .timeline-info > ul li a:hover,
.theme-dark .dropdowns > a.more-mesg,
.theme-dark .activity-meta > h6 a,
.theme-dark .activity-meta > span a:hover,
.theme-dark .friend-name > ins,
.theme-dark .description > p a,
.theme-dark .we-reply,
.theme-dark .sidebar .widget li:hover > a, .sidebar .widget li:hover > i,
.theme-dark .friend-meta > a,
.theme-dark .user-setting > a:hover,
.theme-dark .we-comet li a.showmore,
.theme-dark .twiter-feed > li p a,
.theme-dark .tutor-links > li i,
.theme-dark .tutor-links > li:hover,
.theme-dark .pepl-info > span,
.theme-dark .page-meta > a,
.theme-dark .frnds .nav-tabs .nav-item a.active,
.theme-dark .f-title i,
.theme-dark #work > div a,
.theme-dark .basics > li i,
.theme-dark .education > li i,
.theme-dark .groups > span i,
.theme-dark a.forgot-pwd,
.theme-dark .friend-meta > h4 a:hover,
.theme-dark .x_title > h2,
.theme-dark .post-meta .detail > span,
.theme-dark .add-btn > a:hover,
.theme-dark .top-area > ul.main-menu > li > ul li a:hover,
.theme-dark .dropdowns.active > a i,
.theme-dark .user-setting > a i,
.theme-dark .form-group input.form-file ~ .control-label,
.theme-dark .form-group input.has-value ~ .control-label,
.theme-dark .form-group input:focus ~ .control-label,
.theme-dark .form-group input:valid ~ .control-label,
.theme-dark .form-group select ~ .control-label,
.theme-dark .form-group textarea.form-file ~ .control-label,
.theme-dark .form-group textarea.has-value ~ .control-label,
.theme-dark .form-group textarea:focus ~ .control-label,
.theme-dark .form-group textarea:valid ~ .control-label,
.theme-dark .flaged > h3,
.theme-dark .invition .friend-meta a.invite:hover,
.theme-dark .more-optns > ul li:hover,
.theme-dark .post-title > h4 a:hover,
.theme-dark .post-title .p-date a:hover,
.theme-dark .l-post .l-post-meta > h4 a:hover,
.theme-dark .read,
.theme-dark .read:hover,
.theme-dark blockquote,
.theme-dark .tags > a:hover,
.theme-dark .comment-titles > span,
.theme-dark .help-list > ul li a:hover i,
.theme-dark .carrer-title > h2 > span,
.theme-dark .carrer-title > span a,
.theme-dark .open-position > h4 a:hover,
.theme-dark .option-set.icon-style > li > a.selected,
.theme-dark .category-box > i,
.theme-dark .getquot-baner > a,
.theme-dark .branches-box > ul li i,
.theme-dark .help-topic-result > h2 a:hover,
.theme-dark .product-name > h5 a:hover,
.theme-dark .full-postmeta .shopnow,
.theme-dark .prices.style2 ins span,
.theme-dark .single-btn > li > a.active,
.theme-dark .total-box > ul > li.final-total,
.theme-dark .logout-meta > p a,
.theme-dark .forum-list table tbody tr td i,
.theme-dark .forum-list table tbody tr td a,
.theme-dark .widget ul.recent-topics > li > i,
.theme-dark .date-n-reply > a,
.theme-dark .topic-data > span,
.theme-dark .help-list > ul li a:hover,
.theme-dark .employer-info h2,
.theme-dark .job-detail > ul li i,
.theme-dark .company-intro > a
{
	color: #088dcd;
}

/*=========================
	BACKGROUND COLOR
=========================*/
.theme-dark #nprogress .bar,
.theme-dark .timeline-info > ul li a::before,
.theme-dark .add-btn > a,
.theme-dark .activitiez > li::before,
.theme-dark form button,
.theme-dark .colla-apps > li a:hover,
.theme-dark a.underline:before,
.theme-dark .setting-row input:checked + label,
.theme-dark .user-avatar:hover .edit-phto,
.theme-dark .error-meta > a,
.theme-dark .color-bg,
.theme-dark .add-butn,
.theme-dark .nav.nav-tabs.likes-btn > li a.active,
.theme-dark a.dislike-btn,
.theme-dark .drop > a:hover,
.theme-dark .btn-view.btn-load-more:hover,
.theme-dark .accordion .card h5 button[aria-expanded="true"],
.theme-dark .chat-head,
.theme-dark .f-page > figure em,
.theme-dark .inbox-panel-head > ul > li > a,
.theme-dark .nav-tabs--left .nav-link.active,
.theme-dark .nav-tabs--left .nav-link.active:hover,
.theme-dark footer .widget-title h4::before,
.theme-dark #topcontrol,
.theme-dark .sidebar .widget-title::before,
.theme-dark .f-title::before,
.theme-dark .g-post-classic > figure > i::after,
.theme-dark .purify > a,
.theme-dark .help-list > a:hover,
.theme-dark .open-position::before,
.theme-dark .info > a,
.theme-dark .category-box:hover, .category-box.selected,
.theme-dark a.main-btn,
.theme-dark .section-heading::before,
.theme-dark .getquot-baner,
.theme-dark .more-branches > h4::before,
.theme-dark .is-helpful > a,
.theme-dark .cart-optionz > li > a:hover,
.theme-dark .paginationz > li a:hover,
.theme-dark .paginationz > li a.active,
.theme-dark .shopping-cart,
.theme-dark a.btn2:hover,
.theme-dark .form-submit > input[type="submit"],
.theme-dark button.submit-checkout,
.theme-dark .delete-cart:hover,
.theme-dark .proceed .button,
.theme-dark .amount-area .update-cart,
.theme-dark a.addnewforum,
.theme-dark .apply-bttons > a
{
	background: #088dcd;
}

.theme-dark .stroke-solid {
	fill: #088dcd;
}


/*=========================
	BORDER COLOR
=========================*/
.theme-dark .topbar .form-search input:focus,
.theme-dark .add-btn > a:hover,
.theme-dark .edit-phto:hover,
.theme-dark .colla-apps > li a:hover,
.theme-dark .user-avatar:hover .edit-phto,
.theme-dark .top-area > ul.main-menu > li ul,
.theme-dark .g-post-classic:hover > figure > i,
.theme-dark .help-list > a:hover,
.theme-dark a.btn2:hover,
.theme-dark .single-btn > li > a.active
{
	border-color: #088dcd;
}

.theme-dark #nprogress .spinner-icon{
	border-left-color: #088dcd;
}
.theme-dark #nprogress .spinner-icon
{
	border-top-color: #088dcd;
}
.theme-dark .timeline-info > ul li a:after{
	border-bottom-color: #088dcd;
}

